body {
  background: #1d1f21;
  & > .container-fluid {
    padding: 50px 15px 10px;
  }
}
a {
  color: #333333;
}
.code {
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  color: white;
  font-size: 12px;
}
.log td:empty {
  padding: 5px;
}
.size_30 {
  font-size: 30px;
}
.query {
  color: #cd6a51;
}
.right_15 {
  margin-right: 15px;
}
.top_10 {
  margin-top: 10px;
}
.input-group {
  display: table;

  & > .form-control {
    display: table-cell;
    margin-left: -3px;
  }

  & > span {
    display: table-cell;
    width: 1%;
    padding: 0 3px;
  }
}
.navbar-form-alt {
  margin-top: 8px;

  .form-group {
    margin-bottom: 0px;
  }
}
