<footer class="footer">
  <div class="container">
    <div class="row top_10">
      <div class="col-xs-10">
        <%= text_field_tag :grep, nil, class: 'form-control', autofocus: true %>
      </div>
      <div class="col-xs-2">
        <%= link_to tail.root_path(file_name: params[:file_name], n: (params[:n].to_i/1.5).to_i), id: 'less' do %><i class="glyphicon glyphicon-chevron-left size_30"></i><% end %>
        <%= link_to tail.root_path(file_name: params[:file_name], n: (1.5 * params[:n].to_i).to_i), id: 'more' do %><i class="glyphicon glyphicon-chevron-right size_30"></i><% end %>
      </div>
    </div>
  </div>
</footer>
