<div id="main">
  <table class="log">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @files.each do |line| %>
      <tr>
        <td class="code <%= 'query' if params[:query].present? && line.downcase.include?(params[:query]) %>"><%= line.strip %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
