<% content_for :title, params[:file_name] || "#{Rails.env}.log" %>

<%= render partial: 'navbar' %>

<div class="container-fluid">
  <%= render partial: 'main' %>
</div>

<%= render partial: 'footer' %>
